.status-up {
  background-color: green;
  color: white;
  height: 100px;
  width: 100px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}

.status-down {
  background-color: red;
  foreground-color: black;
  height: 100px;
  width: 100px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}

.status-closed {
  background-color: orange;
  foreground-color: black;
  height: 100px;
  width: 100px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}

.status-err {
  background-color: pink;
  foreground-color: black;
  height: 100px;
  width: 100px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}